<html>
<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<script src="bower_components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
</head>
<body>
	<% if(data.userAuthenticated) { %>
		<a class="btn btn-md btn-danger" href="/logout">Log Out</a>
	<% } %>
	<a class="btn btn-md" href="/home">Home</a>
	<% var isCurrentUser = data.user == data.displayUser.username;
		var welcomeString = data.displayUser.firstName + ' ' + data.displayUser.lastName;;
	if(isCurrentUser) {
		welcomeString = 'Hi, ' + welcomeString;
	} %>
	<h1><%= welcomeString %></h1>
	<h2>Location: <%= data.displayUser.location %></h2>
	<img src="<%= data.displayUser.picturePrefix + '300x300' + data.displayUser.pictureSuffix %>" class="img-rounded"/>
	<% if(isCurrentUser) { %>
		<h3>Your Checkins:</h3>
	<% }else { %>
		<h3>Most Recent Checkin:</h3>
	<% } %>
	<% data.displayUser.checkins.forEach(function(el, index) { %>
		<div><b><%= el.venue.name %></b><p><%= moment(el.createdAt * 1000).format('MMMM Do YYYY, h:mm:ss a') %></p><p>Shout: <%= el.shout %></p></div>
	<%	}) %>
	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</body>